.business {
    padding-top: 94px;
    padding-bottom: 94px;
    &__list {
        display: flex;
        gap: 30px;
    
    }
    
    &__title {
        font-weight: 700;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: $word-color $title-color;
        margin-bottom: 10px;
    
    }
    &__item::before {
        content: "";
        display: block;
        width: 270px;
        height: 120px;
        border-radius: 4px;
        background: $title-color #F5F4FA;
        background-image: url(../images/antena.png);
        margin-bottom: 30px;
    
    }
    &:nth-child(2)::before {
        background-image: url(../images/clock.png);
    }
    
    &:nth-child(3)::before {
        background-image: url(../images/laptop.png);
    }
    
    &:nth-child(4)::before {
        background-image: url(../images/astronuat.png);
    }
    &__text {
        font-weight: 400;
        font-size: 14px;
        line-height: 1.71;
        letter-spacing: 0.03em;
        color: $word-color $word-color;
    }
}   






