footer {
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: #2F303A;
    footer-container {
        display: flex;
    
    }
    
    &__logo {
        font-family: 'Raleway';
        font-weight: 700;
        font-size: 26px;
        line-height: 1.19;
        letter-spacing: 0.03em;
        color: #2196F3;
        display: block;
        margin-bottom: 20px;
        padding-right: 152px;
    
    }
    
    &__text {
        color: #FFF;
        font-family: Roboto;
        font-size: 14px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        letter-spacing: 0.42px;
        text-transform: uppercase;
    
    
    }
    
    &__svgg {
        fill: #FFFFFF;
        width: 20px;
        height: 20px;
    
    }
    
    &__icon {
        width: 20px;
        height: 20px;
        margin-left: 34px;
        display: flex;
        gap: 34px;
        padding-top: 28px;
        padding-bottom: 42px;
    }
    
   
    
    &__logo2 {
        color: #FFFFFF;
    }
    
    &__address {
        font-weight: 400;
        font-size: 14px;
        line-height: 1.71;
        letter-spacing: 0.03em;
        color: #FFFFFF;
        font-style: normal;
        margin-bottom: 9px;
    
    }
    
    &__link {
        font-weight: 400;
        font-size: 14px;
        line-height: 1.71;
        letter-spacing: 0.03em;
        color: rgba(255, 255, 255, 0.6);
    
    }
    
    &__list {
        display: flex;
        flex-direction: column;
        gap: 9px;
    
    }
}

