.hero {
    padding-top: 200px;
    padding-bottom: 200px;
    background-color: $title-color;
    box-shadow: inset;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/team.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    &__title {
        font-weight: 900;
        font-size: 44px;
        line-height: 1.36;
        text-align: center;
        letter-spacing: 0.06em;
        text-transform: uppercase;
        color: #FFFFFF;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 30px;
        width: 696px;
    }
    
    &__button {
        font-weight: 700;
        font-size: 16px;
        line-height: 1.87;
        letter-spacing: 0.06em;
        color: #FFFFFF;
        background-color: $accent-color;
        border: $accent-color;
        width: 216px;
        height: 50px;
        display: block;
        margin-left: auto;
        margin-right: auto;
    
    }
}

